<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">


	<context:component-scan base-package="com.marcomm"></context:component-scan> 
	<tx:annotation-driven/>
	<!-- Datasource dataSource = new DataSource() -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
	    <property name="driverClassName" value="${spring.datasource.driverClassName}" />
	    <property name="url" value="${spring.datasource.url}" />
	    <property name="username" value="${spring.datasource.username}"/>
	    <property name="password" value="${spring.datasource.password}"/>
	</bean>
	
	<bean  class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" 
	id="sessionFactory">
	 <property name="dataSource" ref="dataSource"></property>
	 <property name="annotatedClasses">
			<list>
				<value>com.bankmega.traning.model.Employee</value>
				<value>com.bankmega.traning.model.User</value>
				<value>com.bankmega.traning.model.Role</value>
				<value>com.bankmega.traning.model.Department</value>
				<value>com.marcomm.model.MasterUnit</value>
				<value>com.marcomm.model.MasterProduct</value>
				<value>com.marcomm.model.MasterUser</value>
				<value>com.marcomm.model.MasterCompany</value>
				<value>com.marcomm.model.MasterMenu</value>
				<value>com.marcomm.model.MasterMenuAccess</value>
				<value>com.marcomm.model.TransaksiEvent</value>
				<value>com.marcomm.model.TransaksiSouvenir</value>
				<value>com.marcomm.model.MasterUser</value>
				<value>com.marcomm.model.TransaksiDesign</value>
				<value>com.marcomm.model.TransaksiDesignItem</value>
				<value>com.marcomm.model.MasterEmployee</value>
				<value>com.marcomm.model.MasterRole</value>
				<value>com.marcomm.model.MasterSouvenir</value>
				<value>com.marcomm.model.TransaksiSouvenirItem</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.current_session_context_class">org.springframework.orm.hibernate5.SpringSessionContext
				</prop>
			</props>            
		</property>
	</bean>
	
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:application.properties</value>
		</property>
	</bean>
	

<!-- 	<import resource="spring-security.xml"/> -->

</beans>