<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/user*"
			access="hasRole('ROLE_ADMIN')" />
			<intercept-url pattern="/product*"
			access="hasRole('ROLE_ADMIN')" />
			<!-- MASTER UNIT -->
			<intercept-url pattern="/unit*"
			access="hasRole('ROLE_ADMIN')" />
			<!-- TRANSAKSI SOUVENIR -->
			<intercept-url pattern="/transaksisouvenir*"
			access="hasRole('ROLE_ADMIN')" />
		 
		<form-login login-page="/login"
			default-target-url="/user"
			authentication-failure-url="/login?error"
			username-parameter="username" password-parameter="password" />
		<logout logout-success-url="/login?logout" />
		<!-- access denied page -->
		<access-denied-handler error-page="/403" />
	</http>

	<!-- <authentication-manager> <authentication-provider> <user-service> <user 
		name="agung" password="123456" authorities="ROLE_ADMIN" /> </user-service> 
		</authentication-provider> </authentication-manager> -->



	<authentication-manager
		alias="authenticationManager">
		<authentication-provider>
			<!-- <password-encoder hash="bcrypt" /> -->
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select us.username, us.password, us.IS_DELETE from m_users us where us.username=?"
				authorities-by-username-query="select 
					  au.username, 
					  ro.ROLE_NAME FROM m_users au
            join m_role ro on au.M_ROLE_ID=ro.ID
					  where au.username = ? " />
		</authentication-provider>
	</authentication-manager>

	<!-- <authentication-manager> <authentication-provider> <user-service> <user 
		name="agung" password="123456" authorities="ROLE_USER" /> </user-service> 
		</authentication-provider> </authentication-manager> -->
	<!-- <http auto-config="true" use-expressions="true"> <intercept-url pattern="/user/**" 
		access="hasRole('1')"/> <intercept-url pattern="/product/**" access="hasRole('1')"/> 
		<intercept-url pattern="/unit/**" access="hasRole('1')"/> <intercept-url 
		pattern="/menu/**" access="hasRole('1')"/> <intercept-url pattern="/menuaccess/**" 
		access="hasRole('1')"/> <intercept-url pattern="/company/**" access="hasRole('1')"/> 
		<form-login login-page="/login" default-target-url="/user" authentication-failure-url="/login?error" 
		username-parameter="username" password-parameter="password" /> <logout logout-success-url="/login?logout" 
		/> access denied page <access-denied-handler error-page="/403" /> <csrf /> 
		</http> <authentication-manager> <authentication-provider> <user-service> 
		<user name="masydaarrizaqu" password="123456" authorities="ROLE_USER"/> <user 
		name="operator" password="operator" authorities="ROLE_STAFF"/> <user name="staff" 
		password="staff" authorities="ROLE_STAFF"/> </user-service> </authentication-provider> 
		</authentication-manager> <authentication-manager alias="authenticationManager"> 
		<authentication-provider > <password-encoder hash="bcrypt" /> <jdbc-user-service 
		data-source-ref="dataSource" users-by-username-query= "select us.username, 
		us.password from m_users us where us.username=?" authorities-by-username-query= 
		"select au.username, au.m_role_id FROM m_user au where au.username = ? " 
		/> </authentication-provider> </authentication-manager> -->
</beans:beans>

 